/* Post-Launch Tweaks */

body.home .tribe-events-widget-events-list 
 .tribe-events-widget-events-list__header, body.home .tribe-events-widget-events-list h2.tribe-events-widget-events-list__header-title.tribe-common-h6.tribe-common-h--alt {
display:none!important;
} 


/* TITLE MULTISHADOW */

/* Jacob: old people eyes! */

.home .wp-container-core-group-is-layout-2 h2.has-text-color {
color: #026F52!important;
}


/* .title {
text-shadow: 1px 2px 0px rgb(142, 199, 64), 4px 4px 0px rgb(2, 111, 82), 0px 0px 5px rgba(0, 0, 0, 1), 3px 3px 5px rgba(0, 0, 0, 1), 0px 0px 5px rgba(0, 0, 0, 1), 3px 3px 5px rgba(0, 0, 0, 1)
} */

  
/* @keyframes fadeOut {
    from {
        filter: blur(1px);
    }
    to {
        filter: blur(0);
    }
} */

/* @keyframes scaleUp {
    from {
        font-size: 200%;
    }
    to {
        font-size: 300%;
    }
} */

/* .title:hover {
    animation: fadeOut 1s forwards;
animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
} */


/* BUTTONS */


.wp-block-button__link {
transition-duration: 0.3s;
transition-timing-function: ease;
box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.wp-block-button__link:hover {
background-color: #111111;
color: #f7f7f7;
}


/* NAVIGATION MARGIN */


.wp-block-columns.has-base-2-background-color.has-background.is-layout-flex.wp-container-core-columns-is-layout-1.wp-block-columns-is-layout-flex {
margin-bottom: 0px;
}



/* NAVIGATION MARGIN (SINGLE POSTS) */


.sidebarx {
border-radius: 10px;
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
padding-top: 100px;
}

/* LOOK FOR US CALLOUT */


.look-for-us {
box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}



/* SUBSCRIBE BUTTON HOVER */


.wpsms-form-step-one.js-wpSmsSubscribeStepOne  button.wpsms-button.wpsms-form-submit {
background-color:#007053!important;
}

.wpsms-form-step-one.js-wpSmsSubscribeStepOne  button.wpsms-button.wpsms-form-submit:hover {
background-color:#8EC740!important;
}



/* SMS SHADOW */


.sms-sub {
box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}


/* DOT CHECKBOX COLOR MOD */


input[type='radio']:checked:after {
transition-duration: 0.3s;
background-color:#E4E00B!important;
}

.wpsms-subscribe__form__field.wpsms-subscribe__form__field--radio input[type="radio"]:checked {
transition-duration: 0.3s;
border: 1px solid #E4E00B!important;
}


/* SIDEBAR ROUNDED CORNERS + SHADOW? */


.wp-block-column.has-background.is-layout-flow.wp-block-column-is-layout-flow {
border-radius: 10px;
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}


/* NAVIGATION SHADOW + Z INDEX */


.navbar {
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
z-index: 1;
}


/* GET FED SHADOW */


.getfed {
box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}


/* WHY COOK/GF SHADOW */


.whygf {
box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.whycf {
box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

/* CURRENT SCHEDULE LOWER PADDING */

.CSch {
padding-bottom: 30px;
padding-top: 30px;
}


/* UPCOMING EVENTS PADDING */

.upC {
padding-left: 80px;
}


/* FIND US HOVER EVENT */

.find-us {
  transition-duration: 0.2s;
}

.find-us:hover {
  filter: grayscale(50%);
}

/* POST PARAGRAPH TOP/BOTTOM */

.wp-block-post-content.has-global-padding.is-layout-constrained p {
padding-top:0px;
margin-bottom:0px;
padding-bottom:0px;
}

h1.wp-block-post-title {
margin-bottom:20px!important;
}

/* Submenu */

.secondary {
margin-top:-5px;
z-index: -1;
}

